@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #fff;
}

.top-disclamation-text {
  max-width: 700px;
  white-space: normal;
  margin-left: auto;
  margin-right: auto;
}

.vertical-separator {
  border-left: 1px solid #ddd;
  height: 64px;
  margin-left: 16px;
  margin-right: 16px;
}

/* For extra small screen devices, i.e Galaxy Fold */
@media screen and (max-width: 320px) {
  .dash-one {
    top: 3.8rem !important;
  }

  .dash-two {
    top: 7rem !important;
  }
}